spring:
  application:
    name: incident-tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/incident_db
    username: postgres
    #password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

server:
  port: 8080
